.entities-list {
    display: flex;
    margin: 20px;
    margin-right: 50px;
}
 .fight-ui {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 2%;

}
 .player-utils {
    flex: 1;
}

 .entities-list .entitie .card {
    position: relative;
    border-width: 2px 4px;
    border-style: solid;
    border-color: #212121;
    box-shadow: 2px 2px 0px #ffffff4f;
    transform: rotateY(-20deg);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}
.entities-list .entitie .card .health-bar {
    position: absolute;
    z-index: 2;
    right: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.entities-list .entitie .card img {
    height: 100%;
}
.entities-list .entitie {
    margin-right: 15px;
    width: 75px;
    height: 100px;
    perspective: 300px;
    transition-duration: 0.3s;
}
.entities-list .entitie:hover {
    transform: translate3d(0, -10px, 0);
}

.construct-ui{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}
.construct-ui .entities-list .entitie .card{
   transform: rotateY(20deg);

}
.construct-ui .entities-list .entitie .card img {
    height: auto !important;
    max-width: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url(font/8bitlimr.ttf);
}
@font-face {
    font-family: Zombie;
    src: url(font/Curse-of-the-Zombie.ttf);
}
@font-face {
    font-family: Satan;
    src: url(font/who-asks-satan.ttf);
}

#newWave{
  font-family: myFirstFont;
  transform: rotateZ(-90deg);
  color:#f54b5c;
  text-align: center;
  font-size: 20px;
}


#bar {
  border: 1px solid #000;
  height: 20px;
  position: absolute;
  width: 500px;
  bottom: 5%;
  left: 30%;

}
#health {
  /*animation: health 8s infinite; */
  height: 20px;
  background: #080;
  position: absolute;
  box-shadow: 0 0 4px 0 #050;
  width: 100%;
  background: #82ff00;
}
#lost {
/*  animation: damage_taken 8s infinite; */
  position: absolute;
  height: 20px;
  right: 10%;
  background: #f00;
  box-shadow: 0 0 20px #f00, 0 0 5px #f00;
  transition: width 0.1s;
  opacity: 0;
}
#heal {
 /* animation: healing_taken 8s infinite; */
  position: absolute;
  left: 40%;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px #0af, 0 0 5px #0af;
  transition: width 0.5s;
  opacity: 0;
}
.animated{
      animation: damage_taken 2s ease;
}
.animated_health{
    animation: health 2s ease;
}


  body{
      margin: 0;
      overflow: hidden; 
  }


  #dinero{
        width: 10%;
    max-height: 10%;
       margin-top: -36px;
        margin-left: 5px;           
  }
          
  #cantidad{
      margin-top: -37px;
      margin-left: 75px;
      margin-right: 5px;
      font-size: 25px
      

  }

   #center {
      font-family: 'Arial', sans-serif;
      font-size: 40px;
      transform-style: preserve-3d;
      position: absolute;
      color:green;
      top: 25px;
      left: 5px;
  }

   #bottonRight {
      font-family: 'Arial', sans-serif;
      font-size: 40px;
      transform-style: preserve-3d;
      position: absolute;
      color:yellow;
      top: 70%;
      right: -70%;
  }

  .prueba{
        transform-style: preserve-3d;
  }

  #oroCard{
    font-family: myFirstFont;
    text-align: center;
    font-size: 20px;
  
  }
  #oro{
        color:#4CAF50;
        font-size: 20px;
  }
  #balas{
   visibility: hidden;
    bottom: 5px;
    right: 10px;
    position: absolute;
    z-index: 1000;
  }

  .bala-1{
    max-height:50px;
    max-width: 50px;
  }
  .bala-2{
     max-height:60px;
     max-width: 60px;
  }

  .bala{
    width: 70px;
    height: 60px;

  }



#MenuInicio{
      /*display: none;*/
      /*visibility: hidden;*/
      display: flex;
      position: absolute;
      margin: 0;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;     
      z-index: 300;
      opacity: 100%;
      right: 0%;    
      text-shadow: 2px 11px #b30000;
      background: url("../imgs/InicioWallpaper.png") no-repeat center center fixed;
    }

#tituloJuego{
  font-size: 4em;
  margin-top: -20%;
  font-family: Zombie;
  color:white;
    letter-spacing: 9px;

}


#comenzarpartida{

  color:#9f9f9f;
  font-size: 1em;
  margin-top: 10%;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-shadow: none;
  font-family: 'Dosis', sans-serif;
}

#comenzarpartida:hover{
  color: white;
}

#recarg{
    font-size: 4em;
    text-decoration: none;
   
    /* Change glitch effect here */
    /* animation: glitch-2 1s infinite linear; */
    /* animation: glitch-1 1s infinite linear;*/
    font-family: Zombie;
}

/*effect-underline*/
a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}





  #endContainer{
      /*display: none;*/
      visibility: hidden;
      display: flex;
      position: absolute;
      margin: 0;
      height: 100%;
      width: 100%;
      background: #4f0000;
      opacity: 0.77;
      align-items: center;
      justify-content: center;     
      z-index: 300;
  }

.gameover {
    padding: 1em;
    font-family: Zombie;
    text-transform: uppercase;
    text-align: center;
    color: #ff1100;

    text-shadow: 10px 2px #000000;

}

.gameover > h1 {
    font-size: 4em;
    /* Change glitch effect here */
    /* animation: glitch-2 1s infinite linear; */
    /* animation: glitch-1 1s infinite linear;*/
    font-family: Zombie;
  }
.effects-overlay-bad{
    background-color: #ff000024;
    height: 110px;
    width: 90px;
    position: absolute;
  }

  .effects-overlay-bad > p{
    color: #964343;
  }
  .effects-overlay-good{
    background-color: #00ff3724;
    height: 110px;
    width: 90px;
    position: absolute;
  }
  .effects-overlay-good > p{
    color: #449047;
  }
  .effects-overlay-normal{
    background-color:none;
    height: 0;
    width: 0;
  }
  .effects-overlay-normal >p{
    display: none;
  }
  .bullets{
    margin-top: 40px;
    position: absolute;
    color: #d4d4d4;
    font-size: 20px;
    margin-left: 25px; 
      font-family: myFirstFont;
  }

.buyPrice{
    FONT-SIZE: 35px;
    transform: rotateZ(-45deg);
    color: #964343; /* no se puede comprar */
    color: #449047; /* Se puede comprar */
    font-family: myFirstFont;
    text-align: center;
  }

